
*{
    box-sizing:border-box;
}
*:not(input, textarea) {    
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
html, 
body {
    height: 100%;
    width:100%;
    padding:0;
    margin:0;
    position: fixed;
    font-size:4vw;
}
.flex{
    display: flex;
    flex:initial;
    flex-direction: row;
}
.none{
    flex:none;
}
.auto{
    flex:auto;
}
.column{
    flex-direction: column;
}
.justify-content-end{
    justify-content:flex-end;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-start{
    justify-content: flex-start;
}
.align-items-end{
    align-items: flex-end;
}
.align-items-center{
    align-items: center;
}
.align-items-start{
    align-items: flex-start;
}
textarea:focus, input:focus, [contenteditable]:focus{
    outline: none;
}

input,
textarea,
div[contenteditable] {
    -webkit-user-select: text;
    user-select: text;
    border:0;
}
